<%- include('partials/header') %>

<div class="text-center" style="margin-top: 3rem;">
  <div class="container">
    <i class="fas fa-mask fa-6x mask-color"></i>
    <h1 class="display-5">You've Discovered someone's Mystery!</h1>
    <p class="secret-text">Grapes taste sour! আঙ্গুর টক! </p>
    <hr>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
